<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Inserisci un nuovo evento per il <%= data %></title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/public/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <main id="main">
   <!-- =======Intro Section ======= -->
  <section class="agents-grid grid">
      <div class="container">
        <div class="row">
		<%  var parsed_eventi = JSON.parse(eventi) %>
		  <% for(var i=0; i <  parsed_eventi.length; i++) { %>
          <div class="col-md-4">
		  <div class="card-margin">
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                        <br> <%= parsed_eventi[i].scopo %></a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <div class="info-agents color-a">
					<p>
                      <strong>Luogo: </strong> <%= parsed_eventi[i].luogo %>
                    </p>
                    <p>
                      <strong>Orario inizio: </strong> <%= parsed_eventi[i].orarioinizio %>
                    </p>
                    <p>
                      <strong>Orario fine: </strong> <%= parsed_eventi[i].orariofine %>
                    </p>
                  </div>
                </div>
              </div>
          </div>         
        </div>
		<% } %>
		</div>
	</div>
	</section>
	<!-- ======= End Intro Section ======= -->
	<!-- =======Insert Events Section ======= -->
    <section class="contact">
      <div class="container">
        <div class="row">
		<div class="col-md-12 col-lg-8">
            <div class="title-single-box">
			<br/> <br/>
              <h2 class="title-single">Inserisci un nuovo evento per il <%= data %></h2>
            </div>
          </div>
          <div class="col-sm-12 section-tpopup">
            <div class="row">
              <div class="col-md-7">
                <form action="/nuovoevento" method="post" role="form" class="php-email-form">
                  <div class="row">
					<input type="hidden" id="eventdate" name="eventdate" value="<%= data %>">
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
					   <label for="timestart">Seleziona un orario di inizio:</label>
					   <input type="time" id="timestart" name="timestart" min="09:00" max="18:00" required>
                        <div class="validate"></div>
                      </div>
                    </div>
					<div class="col-md-6 mb-3">
                      <div class="form-group">
					   <label for="timeend">Seleziona un orario di fine:</label>
					   <input type="time" id="timeend" name="timeend" min="09:00" max="18:00" required>
                        <div class="validate"></div>
                      </div>
                    </div>
					<div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input type="text" name="where" id="where" class="form-control form-control-lg form-control-a" placeholder="Luogo" required maxlength=45>
                        <div class="validate"></div>
                      </div>
                    </div>
					<div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input type="text" name="why" id="why" class="form-control form-control-lg form-control-a" placeholder="Scopo" maxlength=45>
                        <div class="validate"></div>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <input type="submit" value="Inserisci" id="tastoInserisciEvento" class="btn btn-a">
                      <br><br>
                    </div>
                  </div>
                </form>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </section>
	  <!-- =======End Insert Events Section ======= -->
  </main>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>
  <!--  JS Files -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/public/assets/js/main.js"></script>
</body>

</html>