<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EstateAgency - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../public/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!-- ======= Header/Navbar ======= -->
  <!-- End Header/Navbar -->
  <%- include('navbar.ejs') %>
  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(/public/assets/img/calendario.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
			<a href="/appuntamenti">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                   <!-- <p class="intro-title-top">Doral, Florida
                      <br> 78345
                    </p>-->
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Appuntamenti </span> 
                      <br> 
                    </h1>
                  </div>
                </div>
              </div>
            </div>
			</a>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(/public/assets/img/proprietà.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
			<a href="/proprieta/immobili/all"> 
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <!--<p class="intro-title-top">Doral, Florida
                      <br> 78345
                    </p>-->
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Immobili </span> 
                 
                    </h1>
                    <!--<p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>-->
                  </div>
                </div>
              </div>
            </div>
			</a>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(/public/assets/img/fondo_commerciale.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
			<a href="/proprieta/fondi/all">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <!--<p class="intro-title-top">Doral, Florida
                      <br> 78345
                    </p>-->
                    <h1 class="intro-title mb-4">
                     <!--<span class="color-b"></span> -->
                      <br> Fondi Commerciali 
                    </h1>
                    <!--<p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                    </p>-->
                  </div>
                </div>
              </div>
            </div>
			</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->

  <main id="main">

    
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Eventi Odierni</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-index d-flex">
                <div class="card-box-ico">
                  <span class="fa fa-home"></span>
				   <p class="content-c" id="current-events">
                </p>
				<a href="/appuntamenti" class="link-c link-icon">Vedi tutti
                  <span class="ion-ios-arrow-forward"></span>
                </a>
                </div>
              </div>
			</div>
          </div>
        </div>
      </div>
    </section>


    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Proprietà</h2>
              </div>
              <div class="title-link">
                <a href="/proprieta">Tutte le Proprietà
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="property-carousel" class="owl-carousel owl-theme">
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="/public/assets/img/property-6.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/proprieta/immobili/affitto">Immobili
                        <br /> in affitto</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <a href="/proprieta/immobili/affitto" class="link-a">Clicca qua per gli immobili in affitto
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="/public/assets/img/property-3.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/proprieta/immobili/vendita">Immobili
                        <br />in vendita </a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <a href="/proprieta/immobili/vendita" class="link-a">Clicca qua per gli immobili in vendita
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="/public/assets/img/property-7.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/proprieta/fondi/affitto">Fondi Commerciali
                        <br /> in affitto</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <a href="/proprieta/fondi/affitto" class="link-a">Clicca qua per i fondi in affitto
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="/public/assets/img/property-10.jpg" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="/proprieta/fondi/vendita">Fondi Commerciali
                        <br />in vendita  </a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <a href="/proprieta/fondi/vendita" class="link-a">Clicca qua per i fondi in vendita
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Agenti</h2>
              </div>
              <div class="title-link">
                <a href="/agenti">Tutti gli Agenti
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
		<%  var parsed_agente = JSON.parse(agente) %>
		  <% for(var i=0; i <  2; i++) { %>
          <div class="col-md-6">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="/public/assets/img/agente.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <%= parsed_agente[i].nome %> 
                        <br> <%= parsed_agente[i].cognome %>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <div class="info-agents color-a">
                    <p>
                      <strong>Telefono: </strong> <%= parsed_agente[i].telefono %> 
                    </p>
                    <p>
                      <strong>Email: </strong> <%= parsed_agente[i].email %> 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
		  <% } %>
        </div>
      </div>
    </section>
  </main>

  <!-- ======= Footer ======= -->
  <%- include('footer.ejs') %>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
  
  <script>
var events = <%- eventi %>;
var today = new Date();
var mm = today.getMonth(); // keep track of the month
var year = today.getFullYear(); // keep track of the year
var day = today.getDate();
loadEvents();

//display events for today
function loadEvents() {   
		for (j = 0, text = "", compare_date = new Date(year, mm, day), events_check = 0; j < Object.keys(events).length; j++) {
			event_date = new Date(events[j].giorno)
			console.log(compare_date);
			console.log(event_date);
			if (compare_date.getTime() == event_date.getTime()){
			  events_check++;
			}
		}
		if (events_check == 0){
			text += "Nessun evento per oggi";
		}
		else if (events_check == 1){
			text += "E' presente " + events_check + " evento per oggi.";
		}
		else {
			text += "Sono presenti " + events_check + " eventi per oggi.";
		}
 	}
	document.getElementById("current-events").innerHTML = text;

</script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>

</body>

</html>