<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Agenzia Immobiliare - Proprietà</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/public/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="click-closed"></div>
  <!-- ======= Navbar ======= -->
  <%- include('navbar.ejs') %>
  <!-- End Navbar -->
  <main id="main">
    <!-- ======= Intro Section ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Propriet&agrave;  <a href="/inserisciproprieta"><button style="float:right; background-color:#26c2e9; color:white; border: 1px solid white;">+</button></h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Proprietà
                </li>
              </ol>
            </nav>
          </div>   
        </div>
      </div>
    </section><!-- End Intro Section-->
    <!-- ======= Property Section ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
		  <%  var parsed_proprieta = JSON.parse(proprieta) %>
		  <% for(var i=0; i <  parsed_proprieta.length; i++) { %>
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="/public/assets/img/<%= parsed_proprieta[i].percorso %>" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="#"><%= parsed_proprieta[i].citta %>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a"><%= parsed_proprieta[i].via %> </span>
                    </div>
                    <a href="/proprieta/<%= parsed_proprieta[i].id %>" class="link-a">Guarda la propriet&agrave;
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Prezzo</h4>
                        <span><%= parsed_proprieta[i].prezzo %>
                        </span>
                      </li>
						<li>
						<h4 class="card-info-title">Contratto</h4>
						<% if(parsed_proprieta[i].affitto == 1) { %>
                         <span>Affitto
                        </span>
						<% } %>
						<% if(parsed_proprieta[i].vendita == 1) { %>
						 <span>Vendita
                        </span>
						<% } %>
                        
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> 
		<% } %>
        </div>
      </div>
    </section><!-- End Property Section-->
  </main>
  <!-- ======= Footer ======= -->
  <%- include('footer.ejs') %>
  <!-- End  Footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>
  <!--  JS Files -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/public/assets/js/main.js"></script>
</body>
</html>