<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Agenzia Immobiliare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/public/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <div class="click-closed"></div>

  <!-- ======= Header/Navbar ======= -->
  <%- include('navbar.ejs') %>
  <!-- End Header/Navbar -->

  <main id="main">

    <!-- ======= Intro Single ======= -->
    
    <%  var parsed_proprieta = JSON.parse(proprieta) %>
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single"><%= parsed_proprieta[0].via %></h1>
              <span class="color-text-a"><%= parsed_proprieta[0].citta %></span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item">
                  Proprietà
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <%= parsed_proprieta[0].via %>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
			<% for(var i=0; i <  parsed_proprieta.length; i++) { %>
              <div class="carousel-item-b">
                <img src="/public/assets/img/<%= parsed_proprieta[i].percorso %>" alt="">
              </div>
			<% } %>
            </div>
            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="ion-money">€ <%= parsed_proprieta[0].prezzo %></span>				  
      
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Descrizione</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>ID proprietà:</strong>
                        <span><%= parsed_proprieta[0].id %></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Posizione:</strong>
                        <span><%= parsed_proprieta[0].citta %></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Tipo:</strong>
                        <span><%= parsed_proprieta[0].tipo %></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Stato:</strong>
                        <% if(parsed_proprieta[0].affitto == 1){ %>
                          <span>Affitto</span>
                        <% } else{ %>  
                          <span>Vendita</span>
                       <% } %>
                      </li>
                      <!--<li class="d-flex justify-content-between">
                        <strong>Area:</strong>
                        <span>340m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Beds:</strong>
                        <span>4</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Baths:</strong>
                        <span>2</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Garage:</strong>
                        <span>1</span>
                      </li>-->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Descrizione</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    <!-- DESCRIZIONE -->
                    <%= parsed_proprieta[0].descrizione %></p>
                  <!--<p class="description color-text-a no-margin">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget
                    malesuada. Quisque velit nisi,
                    pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
                  </p>-->
                </div>
                <div class="row section-t3">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Servizi</h3>
                    </div>
                  </div>
                </div>
                <div class="amenities-list color-text-a">
				
                  <ul class="list-a no-margin">
                    <!-- SERVIZI -->
                    <%= parsed_proprieta[0].nomeServizio %></p>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-12">
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Contatta il proprietario dell'immobile</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <img src="assets/img/agent-4.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="property-agent">
                  <ul class="list-unstyled">
				  <li class="d-flex justify-content-between">
				  <strong>Nome Cognome:</strong>
                      <span class="color-text-a"><%= parsed_proprieta[0].nome %> <%= parsed_proprieta[0].cognome %></span>
					</li>
                    <li class="d-flex justify-content-between">
                      <strong>Telefono:</strong>
                      <span class="color-text-a"><%= parsed_proprieta[0].telefono %></span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Email:</strong>
                      <span class="color-text-a"><%= parsed_proprieta[0].email %></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Property Single-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    <%- include('footer.ejs') %><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/scrollreveal/scrollreveal.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>

</body>

</html>